# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
.venv/

# Project specific
inputs/
tests/
*.pdf

# IDEs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db